
<div class="card-wrapper">
    <mat-card routerLink="examples/column">
        <mat-card-header>
            <mat-card-title>Column Examples</mat-card-title>
            <mat-card-subtitle>Custom columns, show/hide column, custom caption, footer, sticky header, sticky columns</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card routerLink="examples/pagination">
        <mat-card-header>
            <mat-card-title>Pagination Examples</mat-card-title>
            <mat-card-subtitle>Adding a pagination component</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card routerLink="examples/row-selection">
        <mat-card-header>
            <mat-card-title>Selection Examples</mat-card-title>
            <mat-card-subtitle>Single- and multi-row selection</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card routerLink="examples/sorting">
        <mat-card-header>
            <mat-card-title>Sorting Examples</mat-card-title>
            <mat-card-subtitle>Disabling sort on table or column, custom sort logic</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
