
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Table-level Filtering</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <mat-label>Filter Data</mat-label>
            <input matInput type="text" [(ngModel)]="gridFilter10" />
        </mat-form-field>

        <hb-mat-table [tableData]="matGridData10">
            <hb-mat-table-column name="string1"></hb-mat-table-column>
            <hb-mat-table-column name="string2"></hb-mat-table-column>
            <hb-mat-table-column name="stringWithALongName"></hb-mat-table-column>
            <hb-mat-table-column name="number1" dataType="number"></hb-mat-table-column>
            <hb-mat-table-column name="dateDate" dataType="date"></hb-mat-table-column>
            <hb-mat-table-column name="dateString" dataType="date"></hb-mat-table-column>
        </hb-mat-table>
    </mat-expansion-panel>
</mat-accordion>


