
<mat-toolbar>
    <span>Simple Material Table Examples</span>

    <button mat-button routerLink="../">Home</button>
    <button mat-button routerLink="examples/column">Column</button>
    <button mat-button routerLink="examples/filtering">Filtering</button>
    <button mat-button routerLink="examples/pagination">Pagination</button>
    <button mat-button routerLink="examples/row-selection">Selection</button>
    <button mat-button routerLink="examples/sorting">Sorting</button>
</mat-toolbar>

<div class="body-container">
    <router-outlet></router-outlet>
</div>
