
<mat-toolbar>
    <span>Simple Material Table Examples</span>

    <button mat-button routerLink="../">Home</button>
    <button mat-button routerLink="examples/column" routerLinkActive="active-link">Column</button>
    <button mat-button routerLink="examples/filtering" routerLinkActive="active-link">Filtering</button>
    <button mat-button routerLink="examples/pagination" routerLinkActive="active-link">Pagination</button>
    <button mat-button routerLink="examples/row-selection" routerLinkActive="active-link">Selection</button>
    <button mat-button routerLink="examples/sorting" routerLinkActive="active-link">Sorting</button>
    <button mat-button routerLink="examples/styling" routerLinkActive="active-link">Styling</button>
</mat-toolbar>

<div class="body-container">
    <router-outlet></router-outlet>
</div>
