.body-container {
    padding: 0.5rem 1rem;
}

.mat-toolbar button {
    margin-left: 0.25rem;

    &.active-link {
        background-color: #3f51b5;
        color: rgba(255, 255, 255, 0.87);
    }
}
